In [1]:
import pandas as pd
df = pd.read_csv("C:/Users/Jeste/Desktop/Data Science/base_datos_2008.csv/base_datos_2008.csv")

In [6]:
df["HoursDelay"] = round(df["ArrDelay"] / 60)

In [3]:
df["HoursDelay"].head()

0   -0.0
1    0.0
2    0.0
3   -0.0
4    1.0
Name: HoursDelay, dtype: float64

In [4]:
del(df["HoursDelay"])

In [7]:
df.head()

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,...,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay,HoursDelay
0,2008,1,3,4,2003.0,1955,2211.0,2225,WN,335,...,8.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN,-0.0
1,2008,1,3,4,754.0,735,1002.0,1000,WN,3231,...,10.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN,0.0
2,2008,1,3,4,628.0,620,804.0,750,WN,448,...,17.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN,0.0
3,2008,1,3,4,926.0,930,1054.0,1100,WN,1746,...,7.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN,-0.0
4,2008,1,3,4,1829.0,1755,1959.0,1925,WN,3920,...,10.0,0,NaN,0,2.0,0.0,0.0,0.0,32.0,1.0

In [ ]:
#Con esto estaría eliminando las 3 primeras columnas de la base de datos
#La función drop sirve también para filas
#Como se muestra en los dos ejemplos más abajo:
df.drop(["Diverted", "Cancelled", "Yeap"], axis=1)
df.drop(0)
df.drop(range(0,10000)) #Con esto eliminaria desde el 0 a la fila 9.999

#Sin embargo, para guardar ese nuevo dataset, es correcto guardarlos dentro de la misma variable 
#En donde está inicializada el dataframe o con inplace=True, quedando algo así:
# df = df.drop(xxxxxxx)
# df.drop(["Diverted", "Cancelled", "Yeap"], axis=1, inplace = True)

In [8]:
#A continuación lo que hacemos es extraer dos dataframes nuevos, uno con Origen en LAS y otro
#Con origen en HOU

dfLAS = df[df.Origin == "LAS"]
dfHOU = df[df.Origin == "HOU"]

In [9]:
#Y de esta manera podemos crear un nuevo dataframe uniendo el df de LAS con la funcion append a dsHOU.
newdf = dfLAS.append(dfHOU)

In [10]:
#Y si mostramos los datos de Origin de este nuevo dataframe podemos encontrar ambos origenes, 
#Quedando los de LAS al principio y HOU al final que son los que se le aplicó la 
#función de append
newdf.Origin

79         LAS
80         LAS
81         LAS
82         LAS
83         LAS
          ...
7003419    HOU
7004690    HOU
7005947    HOU
7007233    HOU
7008545    HOU
Name: Origin, Length: 228809, dtype: object

In [14]:
#El retraso máximo de cada dia de la semana con la función max y groupby
#df.groupby(by = "DayOfWeek")["ArrDelay"].max()
#df.groupby(by = "DayOfWeek")["ArrDelay"].min()
#df.groupby(by = "DayOfWeek")["ArrDelay"].count() #Numero de casos
#df.groupby(by = "DayOfWeek")["ArrDelay"].describe()
# Casos - Media - Desviación Estándar, Minimo, 1er cuartil, Mediana, 3 Cuartil y mAXIMO
df.groupby(by = "DayOfWeek")["ArrDelay", "DepDelay"].mean()

<ipython-input-14-2a1b0a64ead2>:7: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  df.groupby(by = "DayOfWeek")["ArrDelay", "DepDelay"].mean()

            ArrDelay   DepDelay
DayOfWeek
1           8.210850  10.269990
2           7.481208   8.976897
3           6.522017   8.289761
4           8.411599   9.772897
5          10.953440  12.158036
6           5.789666   8.645681
7           9.495886  11.568973

In [15]:
#Rango de demora por día de semana, maximo de demora - el minimo de demora
df.groupby(by = "DayOfWeek")["ArrDelay"].max() - df.groupby(by = "DayOfWeek")["ArrDelay"].min()

DayOfWeek
1    2102.0
2    2040.0
3    1597.0
4    2582.0
5    1793.0
6    1616.0
7    2553.0
Name: ArrDelay, dtype: float64

In [16]:
dfATLHOU = df[df.Origin.isin(["ATL", "HOU"])]

In [18]:
dfATLHOU.groupby(by = ["DayOfWeek", "Origin"])["ArrDelay"].mean()

DayOfWeek  Origin
1          ATL        9.123436
           HOU        6.356856
2          ATL        8.933587
           HOU        9.348112
3          ATL        8.809146
           HOU        9.073109
4          ATL       10.186501
           HOU       12.994016
5          ATL       14.797440
           HOU       11.036545
6          ATL        9.511662
           HOU        4.283933
7          ATL       13.798627
           HOU        7.045287
Name: ArrDelay, dtype: float64

In [22]:
dfATLHOU.groupby(by = ["Origin", "DayOfWeek"])["ArrDelay"].mean()

Origin  DayOfWeek
ATL     1             9.123436
        2             8.933587
        3             8.809146
        4            10.186501
        5            14.797440
        6             9.511662
        7            13.798627
HOU     1             6.356856
        2             9.348112
        3             9.073109
        4            12.994016
        5            11.036545
        6             4.283933
        7             7.045287
Name: ArrDelay, dtype: float64

In [23]:
myGroupBy = dfATLHOU.groupby(by = ["Origin", "DayOfWeek"])["ArrDelay"]

In [24]:
myGroupBy.max()

Origin  DayOfWeek
ATL     1             407.0
        2             848.0
        3             876.0
        4             571.0
        5             699.0
        6             483.0
        7             612.0
HOU     1             383.0
        2             546.0
        3             639.0
        4            1082.0
        5             560.0
        6             917.0
        7             685.0
Name: ArrDelay, dtype: float64